<h3>Danh sách user (đã loại trùng):</h3>
<ul>
    <li *ngFor="let u of uniqueUsers">{{ u.name }} - {{ u.role }}</li>
</ul>

<h3>Gom nhóm theo role:</h3>
<pre>{{ groupedUsers | json }}</pre>

<hr>
<div *ngIf="!posts.length">Đang tải dữ liệu...</div>

<div *ngIf="posts.length">
    <p>Sử dụng lodash: <b>find, has, get</b>:</p>
    <h4>Tổng số posts: {{ posts.length }}</h4>

    <h4>Post có id=10</h4>
    <pre>{{ firstPost | json }}</pre>

    <p>Post này có "title" (sử dụng lodash _.has)? <b>{{ hasTitle }}</b></p>
    <p>UserId (sử dụng lodash _.get): <b>{{ safeUserId }}</b></p>
</div>

<hr>